PASSWORD=

HOST_PORT=8314
HOST_IP=192.168.2.3

# --- DHCP server
DHCP_ACTIVE=true
DHCP_LEASE=24h
# Defaults for my Bell Giga Hub, adjust as needed
DHCP_START=192.168.2.10
DHCP_END=192.168.2.199
DHCP_ROUTER=192.168.2.1

# --- Unbound
# Upstream resolvers: local unbound first, Cloudflare (1.1.1.1) as fallback.
DNS_UPSTREAMS=127.0.0.1#5335;1.1.1.1

# Timezone: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=America/Halifax
